@{
    ViewBag.Title = "About";
}

<div class="background"></div>

<main>
    <div class="header">

        <div class="header-text">Hakkımızda</div>

    </div>

    <div class="page-content">
        <p class="text-justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at quis risus. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Risus quis varius quam quisque id diam. Euismod lacinia at quis risus.
            Magna fringilla urna porttitor rhoncus. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Aliquet risus feugiat in ante metus dictum at tempor. Faucibus vitae aliquet nec ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies
            leo integer malesuada. Gravida neque convallis a cras semper. Etiam tempor orci eu lobortis elementum nibh tellus. Sit amet consectetur adipiscing elit duis. Odio aenean sed adipiscing diam.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at quis risus. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Risus quis varius quam quisque id diam. Euismod lacinia at quis risus.
            Magna fringilla urna porttitor rhoncus. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Aliquet risus feugiat in ante metus dictum at tempor. Faucibus vitae aliquet nec ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies
            leo integer malesuada. Gravida neque convallis a cras semper. Etiam tempor orci eu lobortis elementum nibh tellus. Sit amet consectetur adipiscing elit duis. Odio aenean sed adipiscing diam.

            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed arcu non odio euismod lacinia at quis risus. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci. Risus quis varius quam quisque id diam. Euismod lacinia at quis risus.
            Magna fringilla urna porttitor rhoncus. Lectus mauris ultrices eros in cursus turpis massa tincidunt dui. Aliquet risus feugiat in ante metus dictum at tempor. Faucibus vitae aliquet nec ullamcorper. Montes nascetur ridiculus mus mauris vitae ultricies
            leo integer malesuada. Gravida neque convallis a cras semper. Etiam tempor orci eu lobortis elementum nibh tellus. Sit amet consectetur adipiscing elit duis. Odio aenean sed adipiscing diam.


        </p>
    </div>
    
</main>



<style>
    
    .background {
        background-image: url(/Content/images/about_page_img/aboutimg.jpg);
        opacity:0.8;
        background-size: auto;
        position: absolute;        
        width:100vw;
        height:100vh;
        background-repeat:no-repeat;
        z-index: -1;
        background-attachment:fixed;
        left:0;
        top:0;             
    }

    .header-text {
        font-family:Rockwell;
        margin-top:0;
        margin-bottom:0;
        font-weight: bold;
        font-size: 70px;
        color: white;
        text-align: center;
        text-shadow: 4px 2px 3px rgba(153, 150, 148, 1);
        
    }

    

    main {
              
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
       
    }

    .container {
        border: solid;
        background-color: rgba(214, 186, 115, 0.9);
        border-inline-color: #48260D;
        border-block-color: beige;
        margin-top: 15px;
        margin-bottom: 0px;
        font-family: Georgia, serif;
        color: azure;
        text-shadow: 4px 2px 3px rgba(153, 150, 148, 1);
    }

    /* Header/Logo Title */
    .header {
        padding: 60px;
        text-align: center;
        position: center;
        /* background: #D6BA73;*/
    }

    /* Page Content */
    .page-content {
        padding-left:20px;
        padding-right:20px;
        padding-bottom:20px;
        padding-top:20px;
    }
    footer {
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.7);
        margin-left:23%;
        width:54%;
        height:40px;
    }
 
</style>