@{
    ViewBag.Title = "Contact";
}

<link href="~/Scripts/css/Contact.css" rel="stylesheet" />


<main>


    <div class="row">
        <div class="card col-md-5 p-4" id="leftCard" style="border:0;">
            <div class="card-header">
                İLETİŞİM ve KONUM BİLGİLERİ
            </div>
            <div class="card-body">
                <div class="map-box">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3046.927206381727!2d28.995946476457096!3d40.21068216815378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14ca146df2474a87%3A0x70b1d9bf456fece9!2sCits%20Bili%C5%9Fim%20Hizmetleri!5e0!3m2!1str!2str!4v1691998123845!5m2!1str!2str"
                            width="500" height="500" style="border: 3px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <hr />
                <div class="address-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-alt-fill " viewBox="0 0 16 16">
                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
                    </svg>
                    <b>Odunluk Mah. Akpınar Cad. R Plaza No:21 Daire:11 Nilüfer/Bursa TÜRKİYE</b>
                </div>

                <div class="phone-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                    </svg>
                    <b>+90 (224) 280 01 00</b>
                </div>

                <div class="mail-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                        <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                    </svg>
                    <a href="mailto:infocits@cits.com.tr">infocits@cits.com.tr</a><br />
                </div>
            </div>

        </div>

        <div class="card col-md-5 p-4" id="rightCard" style="border:0;">
            <div class="card-header">
                İLETİŞİM VE İSTEK FORMU
            </div>
            <div class="card-body">
                <form id="contactMessageForm">
                    <div class="form-group">
                        <label class="form-label">Ad:</label>
                        <input id="senderFirstName" class="form-control" title="Lütfen adınızı yazınız" type="text" name="senderFirstName" placeholder="Ad">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Soyad:</label>
                        <input id="senderLastName" class="form-control" title="Lütfen adınızı yazınız" type="text" name="senderLastName" placeholder="Soyad">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Telefon Numarası:</label>
                        <input id="senderPhoneNumber" class="form-control" type="number" name="phone" title="Lütfen telefon numaranızı yazınız" placeholder="Telefon Numarası">
                    </div>
                    <div class="form-group">
                        <label class="form-label">E-Posta:</label>
                        <input id="senderEmail" class="form-control" type="email" name="email" title="Lütfen e-posta adresinizi yazınız" placeholder="E-Posta">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mesaj:</label>
                        <textarea id="senderMessage" class="form-text" name="description" title="Lütfen mesajınızı yazınız" placeholder="Mesaj" rows="10" cols="50"></textarea>
                    </div>

                </form>
            </div>
            <hr />
            <div class="card-footer" style="border:0;">
                <input id="sendMessageButton" type="button" onclick="sendMessage()" value="GÖNDER" />
            </div>
        </div>

    </div>


</main>


@section scripts{
    
    <script src="~/Scripts/customScripts/Contact.js"></script>

}









