
@{
    ViewBag.Title = "ContactMessages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/css/ContactMessages.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

<div class="row" id="mailBoxHeaderRow">
    <h2 id="mailBoxHeader">İLETİŞİM VE İSTEK MESAJLARI</h2>
</div>

<div class="container" id="mailContainer">
    <section class="content inbox">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <ul class="mail_list list-group list-unstyled">
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1">
                                            <label for="basic_checkbox_1"></label>
                                        </div>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="media">
                                <div class="pull-left">
                                    <div class="controls">
                                        <div class="checkbox">
                                            <input type="checkbox" id="basic_checkbox_1">
                                            <label for="basic_checkbox_1"></label>
                                        </div>
                                    </div>
                                    <div class="thumb hidden-sm-down m-r-20"> <img src="assets/images/xs/avatar1.jpg" class="rounded-circle" alt=""> </div>
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <a href="mail-single.html" class="m-r-10">Velit a labore</a>
                                        <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">12:35 AM</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                    </div>
                                    <p class="msg">Lorem Ipsum is simply dumm dummy text of the printing and typesetting industry. </p>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>











@section scripts{

    <script src="~/Scripts/customScripts/ContactMessages.js"></script>

}